################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimesheetsSystem_backend/FileContentIndex/353147b4-2ff2-461c-97e7-2f647e6be766.vsidx
